*{
    margin: 0%;
    padding: 0% 0px 0 0px;
    font-family: Verdana, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}
/*responsive*/
@media(max-width:574px){
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media only screen and(min-width: 300px)and (max-width: 1000px){
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}
/*header and footer*/

 

/*ticket page*/
.inline{
  padding-left: 100px;
  align-items:flex-start;
}
p{
  text-align: justify;
}
.cover{
    width: 100%;
    
    background-position: center;
background-image: url(./img/tickethead.png);
    
}
    

.cover h1{
    text-align: center;
    
}
.inline_1{
  width: 300px;
  height: 5px;
  background: rgb(137, 87, 211);
  margin: 10px auto;
  animation-name: hh;
  animation-duration: 5s;
}
@keyframes h{
  0%  {color: rgb(30, 23, 60);}
  50%   {color:  rgb(137, 87, 211);}
  100%  {color: rgb(0, 0, 0);}
}
@keyframes hh{
  0%   {background: rgb(188, 100, 195);}
  50%  {background: rgb(23, 4, 4)}
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding:5%; 
    font: 3em sans-serif;
     
}
h2{
    font: 3rem sans-serif;
    animation-name: h;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
}
h3{
  font: 2rem sans-serif;
  color: #000;
}




  /*details page*/
.table_purchase{
  color: #000;  
    float: right;
    
}
#detailsForm,.table_purchase{
    margin-left: 10px;
    
}
form label{
    display:block;
    
}
body{
  background-color: #a2bac6;

}
.inline{
  display: flex;
background-color: #a2bac6;
  width: 100%;
 
  
}

.container{
  margin: 7%;
}
/**/
#form {
  width: 100%;
  margin-top: 10%;
  
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}
#form input{
  text-transform: none;
}
#form h1 {
  color: #0f2027;
  text-align: center;
}

#form #btn {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 #purbtn a{
    text-decoration: none;
    color: #f0f0f0;
}
#form  #clearbtn{
    float: right;
    color: red;
    border-style: hidden;
    cursor: pointer;
    
}
#purbtn {
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #f0f0f0;
}
.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
/**/
#conbody{
    background: #a2bac6;
    text-align: justify;
    

}
#conbody p,#conbody h2{
    margin: 4%;
}
.t2{
    margin-top: 10px;
    background-color: #f0f0f0;
    border: 0px;
    padding: 10px;
    margin-right: 50%;
    width: 80%;
}



.button-enabled{
  background-color: #09c372;
}
.section{
align-self: center;
margin: auto 10%;
}

#continue-button{
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  margin: 10%;
  text-align: center;
  min-height: 100px;
  border-radius: 25px;
  font-weight: bold;
  border: 3px solid #ffffff;
  background-color:#12465fe6 ;  
  cursor: pointer;
  position: relative;
  overflow:hidden;
  font-size: 16px;
}
#continue-button a {
  color: rgb(214, 245, 165);
  text-decoration: none;
}
#continue-button :hover::span {
  width: 100%;
  background-color: #6c6999d6 ;
}
#continue-button:hover{
  color: rgb(251, 251, 251);
  background-color:   #0d2d3cc8 ;
  border-color: rgb(255, 255, 255);
  font-size: 20px;
}
#continue-button[disabled] {
opacity: 0.5;
pointer-events: none;
}